/*uso de la letra roboto*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

.contenedor {
    position: fixed;
    bottom: 15px;
    right: 15px;
    width: 400px;
    height: 314px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    border-radius: 35px;
    box-shadow: 0 2px 6px 0 rgb(0 0 0 / 50%);
    animation-duration: 1s;
    animation-name: aparecermenu;
    z-index: 200;
}

@keyframes aparecermenu {
    from {
        opacity: 0.1;
    }

    to {
        opacity: 1;
    }
}

.cabezera {
    background-color: #25D366;
    width: 100%;
    height: 40px;
    display: flex;
    align-content: center;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-radius: 35px 35px 0px 0px;
}

.whatsappContainer {
    width: 120px;
    height: 40px;
    margin-left: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/*estilos para la cabezera*/
.whatsappLogo {
    width: 35px;
    height: 35px;
    justify-self: flex-start;
}

.textwhatsapp {
    font-family: 'Roboto', sans-serif;
    margin: 0%;
    color: #f7fef9;
}

.exit {
    width: 35px;
    height: 35px;
    margin-right: 30px;
    background-color: #167F3D;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.exitLogo {
    width: 20px;
    height: 20px;
}

.exit:hover {
    transition-duration: 1.5s;
    transform: rotate(180deg);
}

/*estilos para la burbuja del chat y boton de enviar*/
.contenedorChat {
    background-color: #f7fef9;
    height: 272px;
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    border-radius: 0px 0px 35px 35px;
}

.chat {
    background-color: #fff;
    align-self: center;
    width: 340px;
    height: 120px;
    filter: drop-shadow(0 1px 2px rgba(0, 0, 0, .3));
    border-radius: 32px;
}

.mensaje {
    font-family: 'Roboto', sans-serif;
    margin: 16px;
}

.botonEnviar {
    border: none;
    align-self: flex-end;
    display: flex;
    margin-right: 30px;
    width: 150px;
    height: 60px;
    border-radius: 35px;
    align-items: center;
    justify-content: space-around;
    background-color: #25D366;
}

.botonEnviar img {
    width: 30px;
    height: 30px;
}

.botonEnviar p {
    font-family: 'Roboto', sans-serif;
    color: #fff;
    font-size: medium;
}

.botonWhatsapp {
    position: fixed;
    right: 10px;
    bottom: 20px;
    width: 65px;
    height: 65px;
    animation-duration: 1s;
    animation-name: aparecer;
    z-index: 100;
}

@keyframes aparecer {
    0% {
        opacity: 0.3;
        width: 1px;
    }

    100% {
        opacity: 1;
        width: 65px;
    }
}

.ocultar {
    display: none;
}